.input-container{

    background-color: palevioletred;
    padding:15px;
    
}
h2{
    font-style: italic;
    text-align: center;
    font-size:xx-large;
    
}
label{
    font-weight: bold;
}
Button{
    font-weight: bold;
    
    

}

