body{
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header{
    background-color:yellow;
    color: black;
    text-align: center;
    font-size: 100%;
    padding: 15px;
    font-size: x-large;
    font-weight: bold;
    

}
p{
    color:black;
    text-align:center;
    font-weight:300px;
    font-weight: bold;
    font-size: larger;
    
}
img{
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right:auto;
}
.nav-flex{
    display: flex;
    justify-content: space-between;
}
.container{
    width: 80%;
    margin-left:auto;
    margin-right:auto;
}

.container-blog{
    display: flex;
    gap: 10px;
}